<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin | Profile</title>
        <link rel="stylesheet" href="../Assets/css/style.css" />
        <link rel="stylesheet" href="../Assets/css/style.css" />
    </head>
    <body>
        <div class="alldivs">
            <div class="navigation">
                <div class="title">
                    <h4><i>Store</i>Manager</h4>
                </div>
                <div class="headerbuttons">
                    <a href="index.html">
                        <div>
                            <h3>Sign Out</h3>
                        </div>
                    </a>
                    <a href="admin_home.html">
                        <div>
                            <H3>Home</H3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="content">
                <H1>Attendant_username's Profile</H1>
                <H2></H2>
            </div>
            <div>
            	<div>
            		<H1>TOTALS</H1>
            	</div>
                <div class="stats stats2">
                    <H1><b>2000</b></H1>
                    <br/>
                    <H1>Items Sold</H1>
                </div>
                <div class="stats stats3">
                    <H1><b>200</b></H1>
                    <br/>
                    <H1>Sales Records</H1>
                </div>
                <div class="stats stats4">
                    <H1><b>2,000,000/=</b></H1>
                    <br/>
                    <H1>Sales Worth (UGX)</H1>                
                </div>
            </div>
            <div class="heading">
                <H3>Sale Records by Attendant_name</H3>
                <H3>Click record to view details</H3>
                
            </div>
            <div class="tables">
                <table>
                    <tr class="tableheading">
                        <td>No</td>
                        <td>Date & Time</td>
                        <td>Items</td>
                        <td>Amount</td>
                    </tr>
                    <tr class="row1">
                        <td>1</td>
                        <td>10/20/18 9:14pm</td>
                        <td>122</td>
                        <td>10,000</td>
                    </tr>
                    <tr class="row2">
                        <td>2</td>
                        <td>10/20/18 9:14pm</td>
                        <td>122</td>
                        <td>10,000</td>
                    </tr>
                    <tr class="row1">
                        <td>3</td>
                        <td>10/20/18 9:14pm</td>
                        <td>122</td>
                        <td>10,000</td>
                    </tr>
                    <tr class="row2">
                        <td>4</td>
                        <td>10/20/18 9:14pm</td>
                        <td>122</td>
                        <td>10,000</td>
                    </tr>
                    <tr class="row1">
                        <td>5</td>
                        <td>10/20/18 9:14pm</td>
                        <td>122</td>
                        <td>10,000</td>
                    </tr>
                    <tr class="row2">
                        <td>6</td>
                        <td>10/20/18 9:14pm</td>
                        <td>122</td>
                        <td>10,000</td>
                    </tr>
                    <tr class="row1">
                        <td>7</td>
                        <td>10/20/18 9:14pm</td>
                        <td>122</td>
                        <td>10,000</td>
                    </tr>
                    <tr class="row2">
                        <td>8</td>
                        <td>10/20/18 9:14pm</td>
                        <td>122</td>
                        <td>10,000</td>
                    </tr>
                    <tr class="row1">
                        <td>9</td>
                        <td>10/20/18 9:14pm</td>
                        <td>122</td>
                        <td>10,000</td>
                    </tr>
                    <tr class="row2">
                        <td>10</td>
                        <td>10/20/18 9:14pm</td>
                        <td>122</td>
                        <td>10,000</td>
                    </tr>
                    <tr class="row1">
                        <td>11</td>
                        <td>10/20/18 9:14pm</td>
                        <td>122</td>
                        <td>10,000</td>
                    </tr>
                    <tr class="row2">
                        <td>12</td>
                        <td>10/20/18 9:14pm</td>
                        <td>122</td>
                        <td>10,000</td>
                    </tr>
                    <tr class="row1">
                        <td>13</td>
                        <td>10/20/18 9:14pm</td>
                        <td>122</td>
                        <td>10,000</td>
                    </tr>
                    <tr class="row2">
                        <td>14</td>
                        <td>10/20/18 9:14pm</td>
                        <td>122</td>
                        <td>10,000</td>
                    </tr>
                    <tr class="row1">
                        <td>15</td>
                        <td>10/20/18 9:14pm</td>
                        <td>122</td>
                        <td>10,000</td>
                    </tr>
                    <tr class="row2">
                        <td>16</td>
                        <td>10/20/18 9:14pm</td>
                        <td>122</td>
                        <td>10,000</td>
                    </tr>
                </table>

            </div>
        </div>
    </body>
</html>
