<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin | Home</title>
        <link rel="shortcut icon" href="../Assets/images/favicon.png" />
        <link rel="stylesheet" href="../Assets/css/style.css" />
    </head>
    <body>
        <div class="alldivs">
            <div class="navigation">
                <div class="title">
                    <h4><i>Store</i>Manager</h4>
                </div>
                <div class="headerbuttons">
                    <a href="index.html">
                        <div>
                            <h3>Sign Out</h3>
                        </div>
                    </a>
                    <a href="admin_home.html">
                        <div>
                            <H3>Home</H3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="content">
                <div>
                    <H1>Hello Admin_username!</H1>
                </div>
                <div class="topbuttons">
                    <a href="products.html">
                        <button>
                            View Products
                        </button>
                    </a>
                    <a href="signup.html">
                        <button>
                            New Attendant
                        </button>
                    </a>
                </div>

            </div>
            <div class="statholder">
                <div>
                    <H1>TOTALS</H1>
                </div>
                <div class="stats stats1" >
                    <H1><b>2000</b></H1>
                    <br/>
                    <H1>Carts Sold</H1>
                </div>
                <div class="stats stats2" >
                    <H1><b>100,000,000/=</b></H1>
                    <br/>
                    <H1>Sales Worth(UGX)</H1>
                </div>
                <div class="stats stats3" >
                    <H1><b>2000</b></H1>
                    <br/>
                    <H1>Items Sold</H1>
                </div>
                <div class="stats stats4" >
                    <H1><b>3000</b></H1>
                    <br/>
                    <H1>Items Available</H1>
                </div>
                
            </div>
            <div class="products">
                <div class="inside">
                    <div class="heading">
                        <H1>Store Attendants</H1>
                    </div>
                    <div>
                        <input type="Search" name="Search" placeholder="Search Store Attendants" class="search" >
                    </div>
                    <!-- Single item-->
                    <div class="each">                    
                        <div class="left">
                            <div class="cells">
                                <span>
                                    Name:
                                </span><br/>
                            </div>
                            <div class="cells">
                                <span>
                                    Sale Records:
                                </span><br/>
                            </div>
                            <div class="cells">
                                <span>
                                    Items Sold:
                                </span><br/>                            
                            </div>
                            <div class="cells">
                                <span>
                                    Sales Worth<b class="currency">(UGX)</b>:
                                </span><br/>                            
                            </div>
                            <div class="cells">
                                <button>
                                    Edit
                                </button><br/>
                            </div>    
                        </div>
                        <div class="right">
                            <div class="cells">             
                                <span>
                                    Janin
                                </span><br/>
                            </div>
                            <div class="cells">             
                                <span>
                                    200
                                </span><br/>
                            </div>
                            <div class="cells">             
                                <span>
                                    2000
                                </span><br/>
                            </div>
                            <div class="cells">
                                <span class="price">
                                    2,000,000/=
                                </span><br/>
                            </div>
                            <div class="cells">
                                <button>
                                    Delete
                                </button><br/>
                            </div>    
                        </div>       
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>