<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin | Home</title>
        
        <link rel="stylesheet" href="Assets/css/style.css" />
    </head>
    <body>
        <div>
            <div class="navigation">
                <div>

                </div>
            </div>
            <div class="content">
                <div>
                    <H1>Hello Admin_username!</H1>
                </div>
                <div>
                    <a href="products.html">
                        <button>
                            View Products
                        </button>
                    </a>
                    <a href="signup.html">
                        <button>
                            New Attendant
                        </button>
                    </a>
                </div>

            </div>
            <div>
                <div>
                    <H1>TOTALS</H1>
                </div>
                <div class="stats" id="stats1">
                    <H1><b>2000</b></H1>
                    <br/>
                    <H1>Carts Sold</H1>
                </div>
                <div class="stats" id="stats2">
                    <H1><b>100,000,000/=</b></H1>
                    <br/>
                    <H1>Sales(UGX)</H1>
                </div>
                <div class="stats" id="stats3">
                    <H1><b>2000</b></H1>
                    <br/>
                    <H1>Items Sold</H1>
                </div>
                <div class="stats" id="stats4">
                    <H1><b>2000</b></H1>
                    <br/>
                    <H1>Store Attendants</H1>
                </div>
            </div>
            <div class="products">
                <div>
                    <H1>Store Attendants</H1>
                </div>
                <div>
                    <input type="Search" name="Search" placeholder="Search Store Attendants" class="search" />
                </div>
                <!--Store Attendants-->
                <div class="each">                   
                    <div class="cells">
                        <span>
                            Name:
                        </span>
                        <span>
                            Janin
                        </span>
                    </div>
                    <div class="cells">
                        <span>
                            Total Sale Records
                        </span>
                        <span>
                            200
                        </span>
                    </div>
                    <div class="cells">
                        <span>
                            Total items sold <b>(pcs)</b>
                        </span>
                        <span>
                            2000
                        </span>
                    </div>
                    <div class="cells">
                        <span>
                            Total Amount <b>(UGX)</b>
                        </span>
                        <span>
                            2,000,000/=
                        </span>
                    </div>
                    <div class="cells">
                        <button>
                            Edit
                        </button>
                        <button>
                            Delete
                        </button>
                    </div>    
                </div>

            </div>
        </div>
    </body>
</html>