<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Attendant | Home</title>
        
        <link rel="stylesheet" href="Assets/css/style.css" />
    </head>
    <body>
        <div>
            <div class="navigation">
                <div>

                </div>
            </div>
            <div class="content">
                <H1>Hello Attendant_username!</H1>
            </div>
            <div class="buttons">
                <a href="cart.html">
                    <button>
                        New Cart
                    </button>
                </a>
                <a href="attendant_records.html">
                    <button>
                        View Records
                    </button>
                </a>
            </div>
            <div>
                <div class="stats">
                    <H1><b>2000</b></H1>
                    <br/>
                    <H1>Your Total Number of Carts</H1>
                </div>
                <div class="stats">
                    <H1><b>100,000,000/=</b></H1>
                    <br/>
                    <H1>Your Total Sales UGX</H1>
                </div>
            </div>
            <div class="content">
                <div>
                    <H1>All Products</H1>
                </div>
                <div>
                    
                </div>
            </div>
            <div class="products">
                
                <!--Products-->
                <div class="each">                   
                    <div class="cells">
                        <span>
                            Fresh Diary Milk 500ml
                        </span>
                    </div>
                    <div class="cells">
                        <span>
                            Quantity Available(pcs)
                        </span>
                        <span>
                            200
                        </span>
                    </div>
                    <div class="cells">
                        <span>
                            Quantity Sold(pcs)
                        </span>
                        <span>
                            5
                        </span>
                    </div>
                    <div class="cells">
                        <span>
                            Price(UGX)
                        </span>
                        <span>
                            2,000/=
                        </span>
                    </div>
                    <div class="cells">
                        <a href="cart.html">
                            <button>
                                Add to Cart
                            </button>
                        </a>
                    </div>    
                </div>
        </div>
    </body>
</html>