<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Attendant | Cart</title>
        
        <link rel="stylesheet" href="../Assets/css/style.css" />
    </head>
    <body>
        <div class="alldivs">
            <div class="navigation">
                <a href="index.html">
                    <div>
                        <h3>Sign Out</h3>
                    </div>
                </a>
                <a href="attendant_home.html">
                    <div>
                        <H3>Home</H3>
                    </div>
                </a>
            </div>
            <div class="content">
                <H1>Cart</H1>
                <H2>Select the items to add to cart</H2>
            </div>
            <div >
                <H3>Search All Products</H3>
                
            </div>
            <div class="products">
                <div>
                    <input type="Search" name="Search" placeholder="Search Products" class="search">
                </div>
                <div class="each">                   
                    <div class="cells">
                        <span>
                            Fresh Diary Milk 500ml
                        </span><br/>
                    </div>
                    <div class="left">
                        <div class="cells">
                            <span>
                                Quantity Available:
                            </span><br/>
                        </div>
                        <div class="cells">
                            <span>
                                Price<b class="currency">(UGX)</b>
                            </span><br/>                            
                        </div>
                        <div class="cells">
                            <button>
                                Add
                            </button><br/>
                        </div>    
                    </div>
                    <div class="right">
                        <div class="cells">                       
                            <span>
                                200 pcs
                            </span><br/>
                        </div>
                        <div class="cells">
                            <span class="price">
                                2,000/=
                            </span><br/>
                        </div>
                        <div class="cells">
                            <button>
                                Delete
                            </button><br/>
                        </div>    
                    </div>
                        
                </div>
        </div>
    </body>
</html>