<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin | Edit Attendant</title>
        <link rel="shortcut icon" href="../Assets/images/favicon.png" />
        <link rel="stylesheet" href="../Assets/css/style.css" />
    </head>
    <body>
        <div class="alldivs">
            <div class="navigation">
                <div class="title">
                    <h4><i>Store</i>Manager</h4>
                </div>
                <div class="headerbuttons">
                    <a href="index.html">
                        <div>
                            <h3>Sign Out</h3>
                        </div>
                    </a>
                    <a href="admin_home.html">
                        <div>
                            <H3>Home</H3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="content">
                <H1>Edit Attendant_name's Account</H1>
            </div>
            <div class="loginform">
                <div class="inner">
                    <div>
                        &nbsp
                    </div>
                    <div>
                        <span>
                            Username:
                        </span>
                    </div>
                    <div>
                        <input type="text" name="username" class="info">
                    </div>
                    <div>
                        <span>
                            Email:
                        </span>
                    </div>
                    <div>
                        <input type="text" name="email" class="info">
                    </div>
                    <div>
                        <span>
                            Old Password:
                        </span>
                    </div>
                    <div>
                        <input type="password" name="password" class="info">
                    </div>
                    <div>
                        <span>
                            New Password:
                        </span>
                    </div>
                    <div>
                        <input type="password" name="cpassword" class="info">
                    </div>
                    <div>
                        <span>
                            Confirm New Password:
                        </span>
                    </div>
                    <div>
                        <input type="password" name="cpassword" class="info">
                    </div>
                </div>
                <div class="buttons">                    
                    <a href="admin_home.html">
                        <button>Edit Account</button>
                    </a>
                    <br/>
                    <a href="admin_home.html">
                        <button>Cancel</button>
                    </a>
                    <div>
                        &nbsp
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>