<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin | New Attendant</title>
        
        <link rel="stylesheet" href="Assets/css/style.css" />
    </head>
    <body>
        <div>
            <div class="navigation">
                <div>

                </div>
            </div>
            <div>
                <H1>Create a Store Attendant Account with Store Manager</H1>
            </div>
            <div class="loginform">
                <div class="inner">
                    <div>
                        <span>
                            Username:
                        </span>
                    </div>
                    <div>
                        <input type="text" name="username" class="info">
                    </div>
                    <div>
                        <span>
                            Email:
                        </span>
                    </div>
                    <div>
                        <input type="text" name="email" class="info">
                    </div>
                    <div>
                        <span>
                            Password:
                        </span>
                    </div>
                    <div>
                        <input type="password" name="password" class="info">
                    </div>
                    <div>
                        <span>
                            Confirm Password:
                        </span>
                    </div>
                    <div>
                        <input type="password" name="cpassword" class="info">
                    </div>
                </div>
                <div class="buttons">
                    
                    <a href="admin_home.html">
                        <button>Create Account</button>
                    </a>
                    <a href="signup.html">
                        <button>Add Another Store Attendant</button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>